@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

@theme {
     --color-primary: #E58411;
     --color-secondary: #1E1E1E;
     --color-secondary-bg: #F7F7F7;
}
