@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Poppins', sans-serif;
}

@theme {
     --color-primary: #E58411;
     --color-secondary: #1E1E1E;
     --color-secondary-bg: #F7F7F7;
}

.section-container{
  @apply container max-w-screen-xl mx-auto py-6 px-4;
}
